.qr-code-container {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
}